<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <h1>NEW TODO PAGE</h1>

    <!-- render the form for the new todo -->
     <form action="/todos" method="post">
        <input type="text" name="title" required>
        <input type="text" name="content" required>
        <input type="submit" value="Create New Todo">
    </form>
</body>
</html>